@model MSPCloudSite.Models.MailModel

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Send your comments and we will get back to you!</h2>
<hr />
<div class="form-group">
    @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FromName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FromEmail)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactNumber)
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="sendEmail" class="btn btn-default" value="Send" />
    </div>
</div>


<script type="text/javascript">
    var sendEmailUrl = '@Url.Action("SendEmail")';
    $("#sendEmail").on("click",
        function (e) {
            e.preventDefault();
            var viewModel = {
                FromName: $("#FromName").val(),
                FromEmail: $("#FromEmail").val(),
                Message: $("#Message").val(),
                ContactNumber: $("#ContactNumber").val()
            };
            $.post(sendEmailUrl, viewModel).then(function () {
                swal({
                    title: "We will be in touch!",
                    text: "Your request has been sent!",
                    type: "success",
                    confirmButtonColor: '#339900',
                    confirmButtonText: 'Cool!',
                    closeOnConfirm: false
                },function(isConfirm) {
                    if (isConfirm) {
                        $.redirect("Index");
                    }
                });
            });
        });
</script>

