@model MSPCloudSite.Models.MailViewModel

@{
    ViewBag.Title = "Contact Us";

}
<div style="width: 500px;" class="center-block">
    <h2>Send us your Queries:</h2>
    <br />
    <div class="inputs">
        <div class="row">
            @Html.LabelFor(m => m.FromName)
            <div>
                @Html.TextBoxFor(m => m.FromName)
                @Html.ValidationMessageFor(m => m.FromName)
            </div>
            @Html.LabelFor(m => m.FromEmail)
            <div>
                @Html.TextBoxFor(m => m.FromEmail)
                @Html.ValidationMessageFor(m => m.FromEmail)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Message)
            <div>
                @Html.TextAreaFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message)
            </div>
            @Html.LabelFor(m => m.ContactNumber)
            <div>
                @Html.TextBoxFor(m => m.ContactNumber)
                @Html.ValidationMessageFor(m => m.ContactNumber)
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <input type="submit" id="sendEmail" class="button pulse" value="Send" />
        </div>
    </div>
</div>

<script type="text/javascript">
    var sendEmailUrl = '@Url.Action("SendEmail", "Contact")';
        $("#sendEmail").click(
            function (e) {
                e.preventDefault();
                var viewModel = {
                    FromName: $("#FromName").val(),
                    FromEmail: $("#FromEmail").val(),
                    Message: $("#Message").val(),
                    ContactNumber: $("#ContactNumber").val()
                };
                $.post(sendEmailUrl, viewModel).then(function () {
                    swal({
                        title: "We will be in touch!",
                        text: "Your request has been sent!",
                        type: "success",
                        confirmButtonColor: '#339900',
                        confirmButtonText: 'Cool!',
                        closeOnConfirm: false
                    },function(isConfirm) {
                        if (isConfirm) {
                            $.redirect("Index");
                        }
                    });
                });
            });
</script>


